<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="144x144" href="https://zsy0216.github.io/images/favicon-32.ico"/>
  <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="https://zsy0216.github.io/images/favicon-32.ico"/>
  <title>Ep流苏-springboot-mail</title>
</head>
<body>
<div>
  <h1 style="text-align: center">springboot-mail</h1>
  <p>
    <a href="https://github.com/zsy0216/springboot-component">Github</a><br/>
    <a href="https://zsy0216.github.io/docs/">Docs</a>
  </p>
</div>
</body>
</html>