<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里对应 mapper 接口 -->
<mapper namespace="io.zsy.cache.mapper.MenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.zsy.cache.entity.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="path" property="path" />
        <result column="redirect" property="redirect" />
        <result column="component" property="component" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="hidden" property="hidden" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, path, redirect, component, name, title, sort, icon, hidden
    </sql>

    <select id="selectList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from admin_menu;
    </select>
</mapper>
